<section id="contact" class="contact-section">
  <div class="headline-with-stick-wrapper">
    <div class="headline-with-stick">
      <h1>Contact</h1>
      <div class="long-stick"></div>
    </div>
  </div>
  <div class="content">

    <div class="leftcontent">
      <h2>Got a problem to solve?</h2>
      <span>Contact me through this form. I am interested in hearing from you, knowing your ideas, and contributing to your projects with my work.</span>
      <span>Need a Frontend developer? <b>Contact me!</b></span>
    </div>
    
    <div class="rightcontent">
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <input [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your Name" required #name="ngModel" class="form-control" [ngClass]="{'is-invalid': name.invalid && name.touched}">
        @if (!name.valid && name.touched) {
          <span class="error-message">Please enter a valid name</span>
        }
      
        <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your Email" required #email="ngModel" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        @if (!email.valid && email.touched) {
          <span class="error-message">Please enter a valid email</span>
        }
      
        <textarea #message="ngModel" minlength="8" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Your Message" required></textarea>
        @if (!message.valid && message.touched) {
          <span class="error-message">Please enter a message</span>
        }
      
        <div class="privacy-policy">
          <input type="checkbox" id="privacy" name="privacy" required>
          <label for="privacy">I've read <a href="/privacy">privacy policy</a> and agree to the processing of my data as outlined</label>
        </div>
      
        <button type="submit" [disabled]="contactForm.invalid">Send Message :)</button>
      
      </form>
      

      <div class="arrow-container">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.00002 3.828L2.34302 8.485C1.95255 8.87546 1.31948 8.87546 0.929016 8.485C0.53855 8.09453 0.538551 7.46146 0.929016 7.071L7.29291 0.707106C7.68343 0.316581 8.3166 0.316582 8.70712 0.707106L15.071 7.071C15.4615 7.46147 15.4615 8.09453 15.071 8.485C14.6806 8.87547 14.0475 8.87547 13.657 8.485L9.00002 3.828L9.00002 15C9.00002 15.5523 8.5523 16 8.00002 16C7.44773 16 7.00002 15.5523 7.00002 15L7.00002 3.828Z" fill="white"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="shadow"></div>
</section>
