<div class="wrapper">
    <footer class="footer">
      <div class="footer-section logo-impressum">
        <img src="/assets/img/logo.png" alt="Logo">
        <a href="">Impressum</a>
      </div>
  
      <div class="footer-section copyright">
        <span>© Sarah Schneider 2024</span>
      </div>
  
      <div class="footer-section social">
        <div class="social-icons">
          <a href="https://github.com" target="_blank">
            <img src="/assets/img/github.png" alt="GitHub">
          </a>
          <a href="mailto:example@example.com">
            <img src="/assets/img/Email.png" alt="Email">
          </a>
          <a href="https://linkedin.com" target="_blank">
            <img src="/assets/img/Linkedin.png" alt="LinkedIn">
          </a>
        </div>
      </div>
    </footer>
  </div>
  