<section class="aboutme">


    <div class="about-section">
        <div class="left-side">
            <div class="about-text">
                <h1>About me</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias eveniet ullam corrupti sint, aliquid architecto vero perspiciatis consequuntur iusto aperiam ducimus consequatur saepe quo fugit quae necessitatibus ratione non numquam!</p>
            </div>
            <div class="icon-text">
                <img src="/assets/img/lamp.png" alt="Icon 1">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias rerum suscipit, quisquam consectetur, maiores adipisci odit, repellendus provident sequi illum illo maxime quas quia dolor incidunt cum minima repudiandae at!</p>
            </div>
            <div class="icon-text">
                <img src="/assets/img/puzzle.png" alt="Icon 2">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias eveniet ullam corrupti sint, aliquid architecto vero perspiciatis consequuntur</p>
            </div>
        </div>

        <div class="right-side">
            <div class="round-image">
                <img src="/assets/img/profil.jpeg" alt="Profile">
            </div>

        </div>
        <div class="line-container">
            <span class="lineright"></span>
        </div>
    </div>
</section>
