.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: calc(100vh - 100px);
}

.profile-container {
  position: relative;
  width: calc(10vw + 150px); /* Dynamisch angepasst */
  height: auto;
  margin-right: 20px;
  margin-top: 120px;
}

.profile-image {
  position: relative;
  margin-top: -50px !important;
  width: 100%;
  height: auto;
  z-index: 1;
}

.background-deco {
  position: absolute;
  top: 0;
  left: -100px;
  z-index: 0;
}

.background-deco img {
  width: calc(15vw + 200px); /* Dynamisch angepasst */
  height: calc(30vw + 100px); /* Dynamisch angepasst */
  display: block;
}

.text-container {
  display: flex;
  align-items: center;
  height: 705px;
  max-width: calc(100% - 430px);
  text-align: left;
}

.rotated-text {
  margin-bottom: 90px;
  z-index: 10;
}

.rotated-text h2 {
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  transform: rotate(-90deg);
  transform-origin: center center;
  white-space: nowrap;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

.main-text h1 {
  font-size: 78px;
  color: #ffffff;
  margin: 0;
}

.main-text p {
  font-size: 62px;
  color: #9747FF;
  margin: 0;
}

.letstalk {
  margin-top: 30px;
  margin-right: 70px;
  align-self: center;
  min-width: 165px;
  max-width: 185px;
  height: 58px;
  line-height: 58px;
  border-radius: 10px;
  padding: 0 30px;
  background-color: #1CDAE6;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 4;
}

.letstalk:hover {
  background-color: #9747FF;
  transform: scale(1.1);
}

.vector-landing-page {
  width: 100vw;
  height: calc(40vw + 8vh); /* Dynamisch angepasst */
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
}

.vector-landing-page img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 10;
}

.left-section {
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative; 
}

.lineleft {
  width: 50vh;
  height: 4px;
  background-color: #9747FF;
  margin-right: 30px;
  margin-left: -40px;
  align-self: center;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 35px;
}

.social-icons a {
  display: block; 
}

.social-icons a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: block;
}

.social-icons a:hover img {
  transform: scale(1.2);
}

.social-icons p {
  font-size: 22px;
  font-weight: 400;
  color: white;
  margin: 0;
}

.scroll-down {
  position: absolute;
  bottom: 150px;
  right: 20px;
  font-size: 23px;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
  z-index: 10;
  transform: rotate(-270deg);
}

.background-wrapper {
  position: absolute;
  right: 0;
  transform: translateY(100px);
  overflow: hidden;
}

.background-decolila {
  width: calc(10vw + 100px); /* Dynamisch angepasst */
  height: auto;
  transform: rotate(-90deg);
  position: relative;
  margin-right: -100px;
  bottom: 0;
}

.frontend-developer {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  clip-path: inset(0 100% 0 0);
  animation: typing 4s steps(40, end) forwards;
}

@keyframes typing {
  from { clip-path: inset(0 100% 0 0); }
  to { clip-path: inset(0 0 0 0); }
}

@media (min-width: 1441px) {
  .scroll-down {
    right: calc((100vw - 1440px) / 2 + 20px);
  }
}

@media only screen and (min-width: 719px) and (max-width: 1366px) and (min-height: 800px) and (max-height: 1366px) {
  .profile-container {
    width: calc(45vw + 120px); 
    margin-top: calc(30vw + 100px);
  }
}

@media (min-width: 2800px)  {
  .profile-container {
    width: calc(20vw + 180px); 
    margin-top: 300px; 
  }
  .lineleft {
    margin-left: -100px;
    width: 75vh;
  }
}

@media (max-width: 1300px) {
  .profile-container {
    width: calc(40vw + 70px); 
    margin-right: 20px;
    margin-top: calc(10vw + 150px);
  }

  .profile-image {
    margin-top: 100px;
  }


  .text-container {
    bottom: 100px;
    height: auto;
    max-width: 100%;
    z-index: 9;
    position: absolute;
  }

  .main-text h1 {
    font-size: 54px;
  }

  .main-text p {
    font-size: 42px;
  }

  .rotated-text h2 {
    font-size: 48px;
  }

  .vector-landing-page {
    height: calc(55vw + 10vh); /* Dynamisch angepasst */
    bottom: 0px;
  }

  .scroll-down {
    font-size: 18px;
  }

  .social-icons p {
    display: none;
  }

  .background-deco img {
    width: calc(50vw + 200px); /* Dynamisch angepasst */
    height: calc(50vw + 200px); /* Dynamisch angepasst */
    margin-bottom: 100px;
    display: block;
  }
}

@media (max-width: 900px) {
  .background-decolila {
    display: none;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0 10px;
  }

  .profile-container {
    width: calc(45vw + 90px); 
    margin-top: calc(20vw + 5vw);
  }

  .text-container {
    bottom: 70px;
    margin-right: 40px;
  }

  .social-links {
    justify-content: center;
    bottom: 10px;
    margin-top: 20px;
  }

  .vector-landing-page img {
    width: 170%;
    height: 100%;
  }

  .vector-landing-page {
    height: calc(80vw + 2vh); 
  }

  .scroll-down {
    display: none;
  }

  .lineleft {
    margin-left: -300px;
    width: 45vh;
  }

  .letstalk {
    width: 100px;
    height: 50px;
    font-size: 18px;
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .profile-container {
    width: calc(38vw + 120px); 
    margin-top: calc(25vw + 100px);
  }

  .main-text h1 {
    font-size: 42px;
  }

  .main-text p {
    font-size: 34px;
  }

  .rotated-text h2 {
    font-size: 38px;
    
  }

  .vector-landing-page {
    height: calc(50vw + 10vh); /* Dynamisch angepasst */
  }
}

@media (max-width: 576px) {
  .text-container {
    margin-right: 30px;
    margin-left: 0px;
    bottom: 7vh;
  }

  .main-text h1 {
    font-size: 32px;
  }

  .main-text p {
    font-size: 25px;
  }

  .rotated-text h2 {
    margin-top: 10px;
    font-size: 30px;
  }

  .letstalk {
    font-size: 16px;
    width: 100px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
  }

  .profile-container {
    width: calc(40vw + 150px); 
    margin-top: calc(40vw + 30px);
  }

  .vector-landing-page {
    height: calc(50vw + 150px); 
  }

}


@media (max-width: 400px) {

  .text-container {
    margin-right: 30px;
    margin-left: 0px;
    bottom: 7vh;
  }

  .main-text h1 {
    font-size: 28px;
  }

  .main-text p {
    font-size: 22px;
  }

  .rotated-text h2 {
    margin-top: 10px;
    font-size: 25px;
  }

  .profile-container {
    width: calc(32vw + 120px); 
    margin-top: calc(30vw + 100px);
  }

  .vector-landing-page {
    height: calc(50vw + 260px); 
  }
}




