<section class="landing">
    <div class="content-container">
        <div class="profile-container">
            <img src="/assets/img/my-image.png" alt="Mein Bild" class="profile-image">
            <div class="background-deco">
                <img src="/assets/img/52. Blue shadow 1 V2.png" alt="Dekoratives Bild">
            </div>
        </div>
        <div class="text-container">
            <div class="rotated-text">
                <h2>I am</h2>
            </div>
            <div class="main-text">
                <h1>Sarah Schneider</h1>
                <p class="frontend-developer">FRONTEND DEVELOPER</p>
                <a href="" class="letstalk">Let's Talk!</a>
            </div>
        </div>
    </div>
    <div class="vector-landing-page">
        <img src="/assets/img/Vector.png" alt="Vektor Dekoration">
    </div>
    <div class="background-wrapper">
        <img class="background-decolila" src="/assets/img/30. Purple shadow about me.png" alt="Background Deco">
    </div>

    <div class="social-links">
        <div class="left-section">
            <span class="lineleft"></span>
            <div class="social-icons">
                <img src="/assets/img/github.png" alt="GitHub">
                <img src="/assets/img/Email.png" alt="Email">
                <img src="/assets/img/Linkedin.png" alt="LinkedIn">
                <p>sarahATmail.de</p>
            </div>
        </div>
        <div class="scroll-down">
            Scroll down ➔
        </div>

    </div>
</section>
