.impressum {
  padding-top: 140px !important;
  padding-bottom: 70px !important;
  height: auto;
  max-width: 600px;
  min-height: 44vh;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
  position: relative;
  text-align: center;
}

.impressum h1 {
  font-size: 24px;
  color: #1CDAE6;
  margin-bottom: 20px;
}

.impressum h2 {
  font-size: 20px;
  color: #1CDAE6;
  margin-top: 20px;
  margin-bottom: 10px;
}

.impressum p {
  font-size: 16px;
  line-height: 1.5;
  margin: 10px 0;
}

a {
  color: #1CDAE6;
  text-decoration: none;
}

.impressum a:hover {
  text-decoration: none;
}
