<section class="Portfolio">
    <div class="container">
      <div class="headline">
        <h1>Portfolio</h1>
        <span>Explore a section of my work here - Interact with projects to see my skills in action.</span>
      </div>
  
      <!-- Join Project -->
      <div class="project reverse">
        <img src="/assets/img/join photo.png" class="project-image">
        <div class="project-details">
          <h2>Join</h2>
          <span class="techstack">Angular | Typescript | HTML | CSS | Firebase</span>
          <span class="discription">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
          <div class="project-buttons">
            <button class="livetest">Live test</button>
            <button class="github">Github</button>
          </div>
        </div>
      </div>
  
      <!-- Sharkie Project -->
      <div class="project">
        <img src="/assets/img/Sharkie photo.png" class="project-image">
        <div class="project-details">
          <h2>Sharkie</h2>
          <span class="techstack">JavaScript | HTML | CSS</span>
          <span class="discription">A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer whale.</span>
          <div class="project-buttons">
            <button class="livetest">Live test</button>
            <button class="github">Github</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  