<section  id="about-me" class="aboutme">
    <div class="about-section">
        <div class="left-side">
            <div class="about-text">
                <h1>About me</h1>
                <p>Hi, I am a German-speaking frontend developer from near Kempten in the Allgäu. Motivated by the limitless possibilities in IT, I develop intuitive websites and applications. </p>
            </div>
            <div class="icon-text">
                <img src="/assets/img/lamp.png" alt="Icon 1">
                <p>My focus is on developing user-friendly websites and applications that are not only technically impressive, but also aesthetically pleasing. I see challenges as an opportunity to deepen my knowledge and find new solutions.</p>
            </div>
            <div class="icon-text">
                <img src="/assets/img/puzzle.png" alt="Icon 2">
                <p>For me, programming is like hiking in the mountains. It starts with a clear goal in mind, and although the path is sometimes rocky and challenging, there's nothing quite like reaching the summit and seeing the finished result in front of you. Every step takes me a little further, and every challenge is like a rock that I have to overcome. This creative process of coding is what motivates me again and again.</p>
            </div>
        </div>

        <div class="right-side">
            <div class="round-image">
                <img src="/assets/img/profil.jpeg" alt="Profile">
            </div>
        </div>
        <div class="line-container">
            <span class="lineright"></span>
        </div>
    </div>

    <!-- Hintergrund-Schatten -->
    <div class="about-shadow"></div>
</section>
