<section id="aboutme" class="aboutme">
    <div class="about-section">
        <div class="left-side">
            <div class="about-text">
                <h1>{{ 'aboutmeheadline' | translate }}</h1>
                <p>{{ 'aboutmeinfo' | translate }} </p>
            </div>
            <div class="icon-text">
                <img src="/assets/img/lamp.png" alt="Icon 1">
                <p>{{ 'aboutmeinfo1' | translate }}</p>
            </div>
            <div class="icon-text">
                <img src="/assets/img/puzzle.png" alt="Icon 2">
                <p>{{ 'aboutmeinfo2' | translate }}</p>
            </div>
        </div>

        <div class="right-side">
            <div class="round-image">
                <img src="/assets/img/profil.jpeg" alt="Profile">
            </div>
        </div>
        <div class="line-container">
            <span class="lineright"></span>
        </div>
    </div>

    <div class="about-shadow"></div>
</section>
