<section class="Portfolio">
    <div class="headline-with-sticks-wrapper">
        <div class="headline-with-sticks">
            <div class="short-stick"></div>
            <h1>Portfolio</h1>
            <div class="long-stick"></div>
        </div>
    </div>

    <div id="Portfolio" class="container">
        <div class="project reverse">
            <img src="/assets/img/join photo.png" class="project-image">
            <div class="project-details">
                <h2>Join</h2>
                <span class="techstack">Angular | Typescript | HTML | CSS | Firebase</span>
                <span class="discription">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</span>
                <div class="project-buttons">
                    <button class="livetest">Live test</button>
                    <button class="github">Github</button>
                </div>
            </div>
        </div>
  
        <div class="project">
            <img src="/assets/img/Sharkie photo.png" class="project-image">
            <div class="project-details">
                <h2>Sharkie</h2>
                <span class="techstack">JavaScript | HTML | CSS</span>
                <span class="discription">A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer whale.</span>
                <div class="project-buttons">
                    <button class="livetest">Live test</button>
                    <button class="github">Github</button>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-shadow"></div>
  </section>
  