.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  color: white;
  gap: 100px;

  .skillsicons {
    flex: 0 0 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;

    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 0 22%;
      box-sizing: border-box;
      text-align: center;

      .skillimg {
        max-width: 100px;
        height: auto;
        transition: transform 0.3s ease;
      }

      &:hover .skillimg {
        transform: translateY(-10px);
      }

      .skillname {
        margin-top: 10px;
        font-size: 16;
        font-weight: 700;
      }
    }

    .placeholder {
      visibility: hidden;
      flex: 1 0 22%;
    }
  }

  .skillscontent {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-end; 
    padding: 20px;
    margin-bottom: 10px;
    height: 100%; 
    text-align: right; 

    h1 {
      font-size: 90px;
      font-weight: 700;
      margin: 0;
    }

    span {
      display: block;
      margin-top: 30px;
      margin-bottom: 50px; 
      font-size: 18px;
    }

    a {
      display: inline-block; 
      margin-top: auto;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.buttonskills {
  width: 155px;
  height: 58px;
  line-height: 58px;
  border-radius: 10px;
  padding: 0 30px;
  background-color: #1CDAE6;
  color: #ffffff;
  text-align: center; 
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 4;

  &:hover {
    background-color: #9747FF;
    transform: scale(1.1);
  }
}
