.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
  color: white;
  gap: 2%; // Dynamischer Abstand zwischen den Bereichen

  .skillsicons,
  .skillscontent {
    flex: 1;
  }

  .skillsicons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    max-width: 60%;

    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 1 22%;
      box-sizing: border-box;
      text-align: center;

      .skillimg {
        max-width: 100px;
        height: auto;
        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-10px);
        }
      }

      .skillname {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 700;
      }
    }

    .placeholder {
      visibility: hidden;
      flex: 1 1 22%;
    }
  }

  .skillscontent {
    display: flex;
    flex-direction: column;
    justify-content: center; // Zentriert den Inhalt vertikal
    align-items: flex-end; // Positioniert den Inhalt am rechten Rand
    max-width: 40%;
    padding: 20px;
    margin-bottom: 10px;
    text-align: right;

    h1 {
      font-size: 90px;
      font-weight: 700;
      margin: 0;
    }

    span {
      display: block;
      margin-top: 30px;
      margin-bottom: 50px;
      font-size: 18px;
    }

    .buttonskills {
      width: 155px;
      height: 58px;
      line-height: 58px;
      border-radius: 10px;
      padding: 0 30px;
      background-color: #1CDAE6;
      color: #ffffff;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      font-size: 20px;
      font-weight: 400;
      transition: background-color 0.3s ease, transform 0.3s ease;
      z-index: 4;

      &:hover {
        background-color: #9747FF;
        transform: scale(1.1);
      }
    }
  }
}
