<section id="skills" class="container">
    <div class="skillsicons">
      <div *ngFor="let skill of skills" class="skill">
        <img class="skillimg" [src]="skill.image" [alt]="skill.name">
        <span class="skillname">{{ skill.name }}</span>
      </div>
      
      <a class="buttonskills-mobile" href="#contact">Get in touch</a>
    </div>
  
    <div class="skillscontent">
      <div class="title-container">
        <h1>Skills</h1>
        <div class="long-stick"></div>
      </div>
      <span>I have gained experience in building projects with various frontend technologies and concepts.</span>
      
      <a class="buttonskills" href="#contact">Get in touch</a>
    </div>
    
    <div class="skills-shadow"></div>
  </section>
  