html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 290px;
  border-top: 4px solid #1CDAE6;
  padding: 0 50px;
  z-index: 20 !important;
  position: relative;

  .footer-section {
    display: flex;
    flex-direction: column;

    &.logo-impressum {
      align-items: flex-start;
      margin-left: 55px;

      .logoheader {
        .logo-text {
          color: #ffffff;
          font-size: 36px;
          font-weight: 400;
          display: inline-block;

          &::before {
            content: '<';
            color: #1CDAE6;
          }

          &::after {
            content: '>';
            color: #1CDAE6;
          }
        }
      }

      a {
        text-decoration: none;
        color: white;
        text-align: left;
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.copyright {
      font-size: 23px;
      font-weight: 400;
      align-items: center;
    }

    &.social {
      align-items: center;

      .social-icons {
        display: flex;
        align-items: center;
        gap: 35px; 
        margin-right: 40px;

        a {
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              width: 35px;
              height: 35px;
              transform: scale(1.2); 
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .footer {
    flex-direction: column; 
    padding: 20px;
    height: auto;

    .footer-section {
      margin-bottom: 20px;
      text-align: center;

      &.logo-impressum {
        align-items: center;
        margin-left: 0;

        .logoheader .logo-text {
          font-size: 30px;
          margin-bottom: 10px;
        }

        a {
          margin-top: 0;
          font-size: 16px;
        }
      }

      &.social {
        align-items: center;
        margin-top: 20px;
        gap: 20px;

        .social-icons {
          margin-right: 0; /* Margin für Social Icons auf 0 setzen */
        }
      }

      &.copyright {
        font-size: 18px;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px;

    .footer-section {
      &.logo-impressum .logoheader .logo-text {
        font-size: 26px;
      }

      &.social {
        .social-icons {
          margin-top: 15px;
          gap: 15px;
          margin-right: 0 !important; /* Margin für Social Icons auf 0 setzen */
        }

        a img {
          width: 22px;
          height: 22px;
        }
      }

      &.copyright {
        font-size: 16px;
      }
    }
  }
}
