<div class="wrapper">
    <footer class="footer">
      <div class="footer-section logo-impressum">
        <div class="logoheader">
          <span class="logo-text"> /sarah </span>
      </div>
      <a href="/imprint" target="_blank" rel="noopener noreferrer">Imprint</a>
      </div>
  
      <div class="footer-section copyright">
        <span>© Sarah Schneider 2024</span>
      </div>
  
      <div class="footer-section social">
        <div class="social-icons">
            <a href="https://github.com/sarahschneider1" target="_blank">
                <img src="/assets/img/github.png" alt="GitHub">
            </a>
            <a href="mailto:info@sarah-portfolio.de">
                <img src="/assets/img/Email.png" alt="Email">
            </a>
            <a href="https://www.linkedin.com/in/sarah-schneider-4680732b9/" target="_blank">
                <img src="/assets/img/Linkedin.png" alt="LinkedIn">
            </a>
        </div>
    </div>
    
    </footer>
  </div>
  