<section id="portfolio" class="Portfolio">
    <div class="headline-with-sticks-wrapper">
        <div class="headline-with-sticks">
            <h1>Portfolio</h1>
            <div class="long-stick"></div>
        </div>
        
    </div>
    <span class="portfolioinfo">{{ 'portolioinfo' | translate }}</span>
    <div class="container">
        <div *ngFor="let project of projects; let i = index" 
             [ngClass]="{'reverse': i % 2 !== 0, 'regular': i % 2 === 0}" 
             class="project">
            <img [src]="project.image" class="project-image">
            <div class="project-details">
                <h2>{{ project.title }}</h2>
                <span class="techstack">{{ project.techstack }}</span>
                <span class="description">{{ project.description }}</span>
                <div class="project-buttons">
                    <button class="livetest">Live test</button>
                    <button class="github">Github</button>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-shadow"></div>
</section>
